# Ignore everything
*

# But not these files...
!.gitignore
!src/fixed_point_functions.cpp
!src/fixed_point_functions.h
!src/limiter.cpp
!src/limiter.h
# etc...

# ...even if they are in subdirectories
!*/